<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<form class="" action=" <%= users_url %> " method="post">
  <input type = "hidden" name="authenticity_token" value ="<%= form_authenticity_token %>">

  <label for="user_name">Username:</label>
  <input id ="user_name" type="text" name="user[user_name]" value="">

  <label for="password">Password:</label>
  <input id ="password" type="password" name="user[password]" value="">

  <!-- <input type="button" name="" value="submit"> -->
  <button type="submit">Sign Up!</button>
</form>
